<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PassagePlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PassagePlanner.Properties.Settings>
      <setting name="ShipInfo_ShipName" serializeAs="String">
        <value/>
      </setting>
      <setting name="ShipInfo_ShipOwner" serializeAs="String">
        <value/>
      </setting>
      <setting name="ShipInfo_AverageSeaSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShipInfo_DailyConsumptionHFO" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShipInfo_DailyConsumptionGO" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShipInfo_ShipBeam" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShipInfo_NavigationalBridgeWatchConditions" serializeAs="String">
        <value/>
      </setting>
      <setting name="ShipInfo_EcdisSystem" serializeAs="String">
        <value/>
      </setting>
      <setting name="ShipInfo_BlockCoefficients" serializeAs="String">
        <value/>
      </setting>
    </PassagePlanner.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
